/*HEADER*/
.logo {
  font-family: $titre;
  text-align: center;
  box-shadow: 0px 3px 5px -2px grey;
  padding: 1rem;
  margin-bottom: 0px;
  position: relative;
}
.spinner{
height:100vh;
background-color: $color-bg;
position: fixed;
inset: 0;
z-index: 1;
display: grid;
place-items: center; 
animation: loading 300ms 3s forwards;
transform-origin: bottom;
&::after{
  content: "ohmyfood";
  font-family: $titre;
  font-size:2rem;
  width: 8rem;
  height: 8rem;
  border-right: 1rem solid $color2;
  border-left: 1rem solid $color1;
  border-radius: 50%;
  display: grid;
  place-content: center;
  animation: spinner 2s  ease-in-out;
}
}