/*SECTION RESTAURANTS*/
.cartes {
  background-color: $bg-btn;
  padding: 2rem 1rem 3rem 1rem;
  .cartes__restaurants {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    padding-bottom: 1rem;
    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 992px) {
      grid-template-columns: repeat(4, 1fr);
    }
    .nouveau {
      position: relative;
      &::before {
        content: "Nouveau";
        position: absolute;
        width: 6rem;
        height: 2rem;
        background-color: $color3;
        color: darken($color: $color3, $amount: 40%);
        display: grid;
        place-items: center;
        right: 1rem;
        top: 1rem;
        border-radius: 3px;
      }
    }
  }
  .carte {
    &__img {
      height: 12rem;
      background-size: cover;
      background-position: center;
      border-radius: 1rem 1rem 0 0;
    }
    @for $i from 1 through 4 {
      &__img--#{$i} {
        background-image: url(../assets/resto#{$i}.jpg);
      }
    }
    &__ville {
      position: relative;
      background-color: $color4;
      border-radius: 0 0 1rem 1rem;
      padding-bottom: 1rem;
      h3,
      p {
        margin: 0;
        padding-left: 1rem;
      }
      h3 {
        padding-top: 1rem;
      }
      i {
        @include coeur;
      }
    }
    .fas {
      opacity: 0;
    }
    .carte__ville .fas {
      &:hover {
        animation: coeur 800ms forwards;
      }
    }
  }
}
