/* TROIS BOUTONS CHOIX*/
.fonctionnement h2 {
  margin: 2rem;
}
.fonctionnement {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    & ul {
      display: flex;
      flex-direction: row;
    }
  }
}
.fa-solid {
  font-size: 20px;
}
.nombre {
  border: 1px solid $color1;
  border-radius: 40px;
  width: 2rem;
  height: 2rem;
  background-color: $color1;
  color: $color4;
  text-align: center;
  padding-top: 0.4rem;
  margin-left: -1rem;
  font-size: 16px;
}
.choix {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  padding: 0;
  .choix__btn {
    display: flex;
    align-items: center;
    background-color: $bg-btn;
    gap: 20px;
    margin: 0rem 2rem 2rem 2rem;
    border-radius: 20px;
    width: 85%;
    height: 65px;
    @include shadow;
    transition: 600ms ease-in-out;
    &:hover {
      background-color: #e9dafb;
      cursor: pointer;
      & .nombre {
        opacity: 4;
      }
      & .fa-solid {
        color: $color1;
        cursor: pointer;
      }
    }
  }
}
