        .reservation__btn {
            border-style: none;
            background: linear-gradient($color2,$color1);
            border-radius: 30px;
            height: 3rem;
            color: white;
            padding: 0.5rem 1rem 0.5rem 1rem;
            box-shadow: 0px 0px 10px #555;
            transition: transform 300ms;
            :hover {
              transform: scale(1.1);
              background: white;
              color:color2;
              cursor: pointer;
            }
          }
       