@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: $text;
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
}
a {
  text-decoration: none;
  color: inherit;
}
h3 {
  margin: 0;
}
a{
  cursor: pointer;
}