@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family:$text;
}
a{
  text-decoration: none;
  color:inherit;
}
// img{
 
//   object-fit: cover;
//   object-position: center;
//   width: 95%;
//   border-radius: 1rem 1rem 0rem 0rem;
//   height: 10rem;
// }