// police
$titre:("Shrikhand", cursive);
$text:("Roboto", sans-serif);
// couleurs de base
$color1:#9356dc;
$color2:#FF79DA;
$color3:#99E2D0;
$color4:#fff;
// couleurs background
$color-bg:#dfdede;
$bg-btn:#f2f2f2;
$bg-btn-hover:#e9dafb;
$bg-footer:#555;
