@mixin shadow{
    box-shadow: 1px 3px 12px -5px $bg-footer;
}
@mixin shadow-hover{
    box-shadow: 6px 8px 13px #555;
}
@mixin btn{
    border-style: none;
    background: linear-gradient($color2, $color1);
    border-radius: 30px;
    height: 3rem;
    color: white;
    padding: 0.5rem 1rem 0.5rem 1rem;
    transition: transform 500ms;
    @include shadow;
    &:hover {
      transform: scale(1.1);
      color: $color4;
      opacity: 0.8;
      cursor: pointer;
      @include shadow-hover;
    }    
}
@mixin coeur{
    font-size: 1.8rem;
    position: absolute;
    right: 1rem;
    top: 30%;
}